# Please install PyTorch with CUDA support manually.
# For CUDA 12.1 (compatible with 12.8 drivers), use the following command:
# pip3 install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu121

ultralytics
opencv-python
mss
pywin32
numpy
pandas
scikit-learn
google-genai
python-dotenv
opencv-python
path
requests
tqdm
rouge-score
nltk
matplotlib